* {
    font-family: 'Work Sans', sans-serif;
}

.banner {
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    height: 800px;
    padding-left: 150px;
    padding-bottom: 140px;

}

.banner h2 {
    color: var(--Dark-01, #151414);
    text-align: right;
    padding: 200px 100px 0px 600px;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0px;
}

.banner p {
    color: var(--Dark-02, #444343);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 2px 100px 0px 650px;
    margin-top: 10px;
}

.banner button {
    color: #fff;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;

}

.btn {

    text-align: right;
    padding-right: 100px;
    padding-top: 23px;
}

.person {
    display: flex;
    align-items: center;
    gap: 130px;
}

.person h2 {
    width: 288px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.person p {
    width: 340px;
    color: var(--Dark-02, #444343);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.chekar {
    width: 24px;
    height: 24px;

}

.chekar-color {
    color: #09e739;
}

.plan {
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 60px;
    padding-top: 100px;
}

.icon {
    display: flex;
    justify-content: center;
    gap: 90px;
    padding-bottom: 100px;
}

.icon img {
    width: 72.958px;
    height: 72.958px;
}

.icone-details {
    text-align: center;
}

.icon h2 {
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    margin: 15px 0px;
}

.icon p {
    color: var(--Dark-03, #737272);
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
}

.watch {
    text-align: center;
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 6px;
}

.gradient-text {
    position: relative;
    bottom: 300px;
    right: 40px;
    padding: 0 220px;
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 300px;
}

.gradient-text button {
    color: #F15B22;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    width: 160px;
    height: 64px;
    padding: 10px 20px;

}

.fotter {
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
    background-color: #151414;
    color: #FFF;
    gap: 300px;
    border-radius: 5px;

}

.fotter-subsribe input {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #151414;
    margin-bottom: 20px;
    border: 2px solid rgb(105, 102, 102);
}

.fotter-subsribe button {
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    padding: 10px 18px;
}

.socile-icone img {
    width: 45px;
    height: 46px;
    padding-right: 15px;
    padding-top: 20px;
}

.developar {
    text-align: center;
    padding: 80px 0px;
    font-size: 12px;
    color: #757575;
}

.developar-sub {
    color: #9600FF;
}

a {
    text-decoration: none;
    color: #757575;
}